{% extends 'base.html.twig' %}


{% block title %}

{% endblock %}

    {% block body %}
        <h3>Добро пожаловать</h3>



        {% if app.user %}
        <button><a href="{{ path('logout') }}">Выйти</a></button>
            {% else %}
                <button><a href="{{ path("app-sign-up") }}">Зарегистрирваться</a></button>
                <button><a href="{{ path("auth") }}">Авторизоваться</a></button>

            {% endif %}

        {{ form(form) }}

        <div class="container" style="display: flex; flex-direction: row; flex-wrap: wrap; text-align: center">
{% for reddit in reddits %}
   <div class="post" style="border: solid 1px red; width: 20%; float: left; padding: 5px; margin: 5px; ">
       <img src="{{ reddit.data['thumbnail'] }}">
       <h4>{{ reddit.data['title']|truncate(20) }}</h4>
       <p>Автор: {{ reddit.data['author'] }}</p>
       <p>Дата публикации: {{ reddit.data['created_utc']|date('d/m/Y H:i') }}</p>
       <button><a href="{{ path('add-favorite', {id : reddit.data['name']}) }}">Добавить в избранное</a></button>
       <button><a href="{{ path('show-one', {id : reddit.data['name']}) }}">Подробнее</a></button>
   </div>
    {% endfor %}
        </div>
{% endblock %}