{% extends 'base.html.twig' %}

{% block body %}

    <button><a href="{{ path('index') }}">На главную</a></button> <br>

    <div class="post" style="border: solid 1px red; width: 20%; float: left; padding: 5px; margin: 5px; ">
        <img src="{{ reddit.thumbnail }}">
        <h4>{{ reddit.title|truncate(20) }}</h4>
        <p>Автор: {{ reddit.author }}</p>
        <p>Дата публикации: {{ reddit.created_utc|date('d/m/Y H:i') }}</p>

    </div>
{% endblock %}

{% block title %}

{% endblock %}

