{% extends 'base.html.twig' %}

{% block body %}
    <h1>Авторизоваться</h1>
    {% for flashMessage in app.session.flashbag.get('error') %}
        <h2 style="text-align: center; color: red" class="flashbag">{{ flashMessage }}</h2>
    {% endfor %}
    {% if(error) %}
        {{ error }}
    {% endif %}
    {{ form(form) }}
{% endblock %}

{% block title %}

{% endblock %}

